#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0; /* Remove padding to prevent unwanted spacing */
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--bs-light);
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.navbar {
  width: 100vw;
  height: 105px; /* Makes it take full screen height */
  position: fixed; /* Keeps it at the top */
  top: 0;
  left: 0;
  z-index: 1000;
}

/* .card {
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 20%;
  margin: 2em;
  padding: 1em;
}

.card h1 {
  font-size: 2em;
  margin-bottom: 30px;
  text-align: left;
  color: var(--bs-dark);
}
.card p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: left;
  font-weight: bold
  color: var(--bs-primary);
}

.card button {
  position: relative;
  margin-top: 10px;
  text-align: right;
  color: var(--bs-dark);
  border: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
} */

.card-custom {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1em;
  margin: 2em;
  width: 350px;
  max-width: 90%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-custom:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-header-custom {
  font-size: 20px;
  font-weight: bold;
  color: var(--bs-dark);
  margin-bottom: 10px;
}

.card-body-custom {
  font-size: 16px;
  color: var(--bs-primary);
}

.card-footer-custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #eee;
  padding-top: 10px;
  margin-top: 10px;
  color: var(--bs-light);
}

.error {
  color: red;
  font-size: 14px;
  text-align: left; /* Ensure left alignment */
  display: block; /* Prevent inline behavior */
  margin-left: 0.5em;
  margin-top: 0.2em; /* Add spacing */
}


